* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-color: aquamarine;
}

.tittle {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  border: 2px solid red;
  padding: 10px;
}

.filter-bar {
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
}

.filter-bar :active {
  color: white;
  background-color: brown;
}

.filetr-btn {
  background-color: blueviolet;
  color: aliceblue;
}

.form {
  width: full;

  >label {
    display: block;
    margin-left: 20px;
  }

  >input {
    width: 30%;
    padding: 10px;
    border-radius: 6px;
    margin: 20px;
    padding: 5px;
  }

  >button {
    padding: 10px;
    border-radius: 6px;
    background-color: blueviolet;
    color: white;
    display: block;
    margin-left: 20px;
  }
}

.checkboxStyle {
  display: flex;
  justify-content: center;
  text-align: center;
}

.InpCheckbox {
  padding: 5px;
  width: 18px;
}

.task-list {
  text-align: center;
  margin: 0;
}

.completed {
  text-decoration: line-through;
  margin-left: 10px;
}

.dlt-button {
  padding: 4px;
  color: white;
  background: red;
  border: none;
  border-radius: 6px;
  margin-left: 10px;
}

.label {
  margin-left: 10px;

}