# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
AsyncThunk_Scenarios/
Redux/
Redux_Aug2025/
ReduxToolKitPractice/
react-demo/
reactBasic/
redux_practice/
redux_rivision/
rtk_query_pokemon/
counter_redux/
debounce/
Debounce-Practice/