* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

a {
  color: brown;
  text-decoration: none;
  font-size: larger;
}

a:hover {
  color: blue;
}

a:active {
  color: blueviolet;
}

p {
  padding: 10px;
}