* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: antiquewhite;
}

button {
  padding: 10px;
  background-color: blueviolet;
  color: white;
  font-size: x-large;
  border-radius: 10px;
  border: none;
  margin: 10px
}

p {
  padding: 8px;
}